@using AdminApplication.Models;
@model AdminApplication.Models.RestaurantsStatisticsModel

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Restaurants Statistics</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Restaurants Statistics</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>RestaurantId</th>
                            <th>RestaurantName</th>
                            <th>Orders</th>
                            <th>CompletedOrders</th>
                            <th>OrdersPaidByCard</th>
                            <th>OrdersPaidByTransfer</th>
                            <th>OrdersWithDiscountCode</th>
                            <th>Income</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>RestaurantId</th>
                            <th>RestaurantName</th>
                            <th>Orders</th>
                            <th>CompletedOrders</th>
                            <th>OrdersPaidByCard</th>
                            <th>OrdersPaidByTransfer</th>
                            <th>OrdersWithDiscountCode</th>
                            <th>Income</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var s in Model.statistics)
                        {
                            <tr>
                                <td>@s.RestaurantId</td>
                                <td>@s.RestaurantName</td>
                                <td>@s.Orders</td>
                                <td>@s.CompletedOrders</td>
                                <td>@s.OrdersPaidByCard</td>
                                <td>@s.OrdersPaidByTransfer</td>
                                <td>@s.OrdersWithDiscountCode</td>
                                <td>@s.Income</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>